<mat-card class="login-window">
  <mat-card-title class="login-title">Login</mat-card-title>
  <form
    accept-charset="utf-8"
    novalidate
    [formGroup]="formGroup"
    (ngSubmit)="logIn()"
  >
    <p class="error-message" *ngIf="isError">{{ errorMessage }}</p>

    <mat-form-field appearance="standard">
      <mat-label>Username:</mat-label>
      <input
        matInput
        placeholder="Please enter username"
        formControlName="userName"
      />
      <mat-error *ngIf="isFieldInvalid('userName')">Required field</mat-error>
    </mat-form-field>

    <mat-form-field appearance="standard">
      <mat-label>Password:</mat-label>
      <input
        matInput
        placeholder="Please enter password"
        formControlName="password"
      />
      <mat-error *ngIf="isFieldInvalid('password')">Required field</mat-error>
    </mat-form-field>
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="formGroup.invalid"
    >
      Sign in
    </button>
  </form>
</mat-card>
