.login-window {
  border: 2px solid #777;
  background-color: #fff;
  box-sizing: border-box;
  padding: 40px;
  height: 400px;
  width: 600px;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  form {
    margin: 40px 0 0 0;
    width: 400px;
    height: 200px;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    p {
      color: rgb(180, 30, 30);
    }
    label {
      margin-top: 10px;
    }
    input {
      height: 30px;
      border: 2px solid rgb(185, 185, 185);
      border-radius: 5px;
      background-color: inherit;
      padding: 5px;
    }
    button {
      margin: auto 0 0 0;
    }
  }
}
