.login-window {
  border: 2px solid #777;
  background-color: #fff;
  box-sizing: border-box;
  padding: 40px;
  height: fit-content;
  width: 600px;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  form {
    margin: 40px 0 0 0;
    width: 400px;
    height: 200px;
    display: flex;
    flex-direction: column;
    row-gap: 5px;

    .error-message {
      color: rgb(161, 9, 9);
    }

    .form-label {
      margin-top: 10px;
    }

    small {
      font-size: 14px;
    }

    input {
      height: 30px;
      border: 2px solid rgb(185, 185, 185);
      border-radius: 5px;
      background-color: inherit;
      padding: 5px;
    }

    .ng-touched.ng-invalid {
      border: solid red 2px;
    }

    button {
      margin: auto 0 0 0;
    }
  }
}
