<div class="course-card flex-center">
  <div class="container flex-center-gap-20 course-card-item">
    <div class="content flex-column-gap-20">
      <div class="content-heading flex-center-sb">
        <h2 class="content-name">{{ course.title }} {{ course.id }}</h2>
        <div class="content-info flex-center-gap-20">
          <h2 class="content-duration">{{ course.duration }}</h2>
          <h2 class="content-date">{{ course.creationDate }}</h2>
        </div>
      </div>
      <p class="content-text">
        {{ course.description }}
      </p>
    </div>
    <div class="btn-container flex-column-gap-20">
      <button class="btn">&#x2705; Edit</button>
      <button class="btn btn-red" (click)="clickHandler(course.id)">
        &#x274E; Delete
      </button>
    </div>
  </div>
</div>
