h2 {
  font-size: 16px;
}

.btn-container {
  button {
    display: block;
  }
}

.content {
  width: 100%;
  min-height: 80px;
}

.course-card-item {
  border: 2px solid #777;
  background-color: #fff;
  padding: 20px;
}

.content-top-rated {
  display: none;
  cursor: pointer;
  padding-bottom: 3px;
  margin-left: 5px;
  text-align: center;
  font-size: 20px;
}

.active {
  display: block;
}
