h2 {
  font-size: 16px;
}

button {
  width: 85px;
  text-align: center;
}

.content {
  min-width: 1155px;
  min-height: 80px;
}

.course-card-item {
  border: 2px solid #777;
  background-color: #fff;
  box-sizing: border-box;
  padding: 20px;
}

.content-top-rated {
  display: none;
  cursor: pointer;
  padding-bottom: 3px;
  margin-left: 5px;
  text-align: center;
  font-size: 20px;
}

.active {
  display: block;
}
