<mat-toolbar color="primary" class="header flex-center">
  <div class="container flex-center-sb">
    <app-logo></app-logo>
    <div
      class="flex-center-gap-20"
      *ngIf="authService.userName$ | async as name"
    >
      <p class="welcome-msg">Welcome, {{ name }}!</p>

      <button
        color="warn"
        mat-raised-button
        type="button"
        (click)="authService.logOut()"
      >
        Logout <mat-icon aria-hidden="false">logout</mat-icon>
      </button>
    </div>
  </div>
</mat-toolbar>
