.courses-list-wrap {
  height: 100%;
}

.load-more {
  border: 2px solid #777;
  text-align: center;
  margin-bottom: 20px;
  background-color: #fff;
  height: 50px;
  cursor: pointer;
  width: 100%;
  font-weight: 500;
}

.no-data-message {
  cursor: default;
}
